
/* BEE SPRITE SHEETS */
.bee-princess, .bee-drone, .bee-queen { display: block; width: 64px; height: 64px; background-repeat: no-repeat; }
.bee-princess { background-image: url('/images/princesses.png'); }
.bee-drone { background-image: url('/images/drones.png'); }
.bee-queen { background-image: url('/images/queens.png'); }

/* BEE OFFSETS  */
.bee-abandoned    { background-position: -5px    -5px;    }
.bee-abnormal     { background-position: -79px   -5px;    }
.bee-absolute     { background-position: -153px  -5px;    }
.bee-abyssal      { background-position: -227px  -5px;    }
.bee-acidic       { background-position: -301px  -5px;    }
.bee-aer          { background-position: -375px  -5px;    }
.bee-agrarian     { background-position: -449px  -5px;    }
.bee-alfheim      { background-position: -523px  -5px;    }
.bee-aluminum     { background-position: -597px  -5px;    }
.bee-amber        { background-position: -671px  -5px;    }
.bee-ancient      { background-position: -745px  -5px;    }
.bee-apatine      { background-position: -819px  -5px;    }
.bee-aqua         { background-position: -893px  -5px;    }
.bee-arcane       { background-position: -967px  -5px;    }
.bee-ardite       { background-position: -1041px -5px;    }
.bee-argentum     { background-position: -1115px -5px;    }
.bee-arid         { background-position: -5px    -79px;   }
.bee-ashen        { background-position: -79px   -79px;   }
.bee-attuned      { background-position: -153px  -79px;   }
.bee-auric        { background-position: -227px  -79px;   }
.bee-austere      { background-position: -301px  -79px;   }
.bee-avenging     { background-position: -375px  -79px;   }
.bee-aware        { background-position: -449px  -79px;   }
.bee-azure        { background-position: -523px  -79px;   }
.bee-barren       { background-position: -597px  -79px;   }
.bee-batty        { background-position: -671px  -79px;   }
.bee-beefy        { background-position: -745px  -79px;   }
.bee-big-bad      { background-position: -819px  -79px;   }
.bee-black        { background-position: -893px  -79px;   }
.bee-bleached     { background-position: -967px  -79px;   }
.bee-blizzy       { background-position: -1041px -79px;   }
.bee-bloody       { background-position: -1115px -79px;   }
.bee-blooming     { background-position: -5px    -153px;  }
.bee-blossom      { background-position: -79px   -153px;  }
.bee-blue         { background-position: -153px  -153px;  }
.bee-blutonium    { background-position: -227px  -153px;  }
.bee-boggy        { background-position: -301px  -153px;  }
.bee-botanic      { background-position: -375px  -153px;  }
.bee-bound        { background-position: -449px  -153px;  }
.bee-bovine       { background-position: -523px  -153px;  }
.bee-brainy       { background-position: -597px  -153px;  }
.bee-bronzed      { background-position: -671px  -153px;  }
.bee-brown        { background-position: -745px  -153px;  }
.bee-caffeinated  { background-position: -819px  -153px;  }
.bee-carbon       { background-position: -893px  -153px;  }
.bee-caustic      { background-position: -967px  -153px;  }
.bee-celebratory  { background-position: -1041px -153px;  }
.bee-chaotic      { background-position: -1115px -153px;  }
.bee-charmed      { background-position: -5px    -227px;  }
.bee-cobalt       { background-position: -79px   -227px;  }
.bee-common       { background-position: -153px  -227px;  }
.bee-corroded     { background-position: -227px  -227px;  }
.bee-corrosive    { background-position: -301px  -227px;  }
.bee-creepy       { background-position: -375px  -227px;  }
.bee-crumbling    { background-position: -449px  -227px;  }
.bee-cultivated   { background-position: -523px  -227px;  }
.bee-cuprum       { background-position: -597px  -227px;  }
.bee-cyan         { background-position: -671px  -227px;  }
.bee-cyanite      { background-position: -745px  -227px;  }
.bee-damp         { background-position: -819px  -227px;  }
.bee-dante        { background-position: -893px  -227px;  }
.bee-darkened     { background-position: -967px  -227px;  }
.bee-decaying     { background-position: -1041px -227px;  }
.bee-decomposing  { background-position: -1115px -227px;  }
.bee-demonic      { background-position: -5px    -301px;  }
.bee-derpious     { background-position: -79px   -301px;  }
.bee-desolate     { background-position: -153px  -301px;  }
.bee-destabilized { background-position: -227px  -301px;  }
.bee-diamandi     { background-position: -301px  -301px;  }
.bee-diamond      { background-position: -375px  -301px;  }
.bee-diligent     { background-position: -449px  -301px;  }
.bee-distilled    { background-position: -523px  -301px;  }
.bee-doctoral     { background-position: -597px  -301px;  }
.bee-draconic     { background-position: -671px  -301px;  }
.bee-dreaming     { background-position: -745px  -301px;  }
.bee-earthen      { background-position: -819px  -301px;  }
.bee-ebony        { background-position: -893px  -301px;  }
.bee-edenic       { background-position: -967px  -301px;  }
.bee-elastic      { background-position: -1041px -301px;  }
.bee-eldritch     { background-position: -1115px -301px;  }
.bee-electrum     { background-position: -5px    -375px;  }
.bee-embittered   { background-position: -79px   -375px;  }
.bee-emerald      { background-position: -153px  -375px;  }
.bee-enchanted    { background-position: -227px  -375px;  }
.bee-endearing    { background-position: -301px  -375px;  }
.bee-ender        { background-position: -375px  -375px;  }
.bee-energetic    { background-position: -449px  -375px;  }
.bee-esmeraldi    { background-position: -523px  -375px;  }
.bee-esoteric     { background-position: -597px  -375px;  }
.bee-ethereal     { background-position: -671px  -375px;  }
.bee-excited      { background-position: -745px  -375px;  }
.bee-exotic       { background-position: -819px  -375px;  }
.bee-farmed       { background-position: -893px  -375px;  }
.bee-farmerly     { background-position: -967px  -375px;  }
.bee-fermented    { background-position: -1041px -375px;  }
.bee-ferrous      { background-position: -1115px -375px;  }
.bee-fiendish     { background-position: -5px    -449px;  }
.bee-firey        { background-position: -79px   -449px;  }
.bee-floral       { background-position: -153px  -449px;  }
.bee-fluxed       { background-position: -227px  -449px;  }
.bee-forest       { background-position: -301px  -449px;  }
.bee-forlorn      { background-position: -375px  -449px;  }
.bee-fossilised   { background-position: -449px  -449px;  }
.bee-frigid       { background-position: -523px  -449px;  }
.bee-frugal       { background-position: -597px  -449px;  }
.bee-fruity       { background-position: -671px  -449px;  }
.bee-fuchsia      { background-position: -745px  -449px;  }
.bee-fungal       { background-position: -819px  -449px;  }
.bee-furious      { background-position: -893px  -449px;  }
.bee-gelid        { background-position: -967px  -449px;  }
.bee-ghastly      { background-position: -1041px -449px;  }
.bee-glacial      { background-position: -1115px -449px;  }
.bee-glittering   { background-position: -5px    -523px;  }
.bee-glowering    { background-position: -79px   -523px;  }
.bee-glutinous    { background-position: -153px  -523px;  }
.bee-gnawing      { background-position: -227px  -523px;  }
.bee-gray         { background-position: -301px  -523px;  }
.bee-green        { background-position: -375px  -523px;  }
.bee-growing      { background-position: -449px  -523px;  }
.bee-hateful      { background-position: -523px  -523px;  }
.bee-hazardous    { background-position: -597px  -523px;  }
.bee-hermitic     { background-position: -671px  -523px;  }
.bee-heroic       { background-position: -745px  -523px;  }
.bee-icy          { background-position: -819px  -523px;  }
.bee-ignis        { background-position: -893px  -523px;  }
.bee-imperial     { background-position: -967px  -523px;  }
.bee-indigo       { background-position: -1041px -523px;  }
.bee-industrious  { background-position: -1115px -523px;  }
.bee-infectious   { background-position: -5px    -597px;  }
.bee-infernal     { background-position: -79px   -597px;  }
.bee-invar        { background-position: -153px  -597px;  }
.bee-invisible    { background-position: -227px  -597px;  }
.bee-jaded        { background-position: -301px  -597px;  }
.bee-lapis        { background-position: -375px  -597px;  }
.bee-lavender     { background-position: -449px  -597px;  }
.bee-leaden       { background-position: -523px  -597px;  }
.bee-leporine     { background-position: -597px  -597px;  }
.bee-blue         { background-position: -671px  -597px;  } 
.bee-gray         { background-position: -745px  -597px;  } 
.bee-lime         { background-position: -819px  -597px;  }
.bee-lordly       { background-position: -893px  -597px;  }
.bee-lustered     { background-position: -967px  -597px;  }
.bee-lux          { background-position: -1041px -597px;  }
.bee-magenta      { background-position: -1115px -597px;  }
.bee-majestic     { background-position: -5px    -671px;  }
.bee-malicious    { background-position: -79px   -671px;  }
.bee-manyullyn    { background-position: -153px  -671px;  }
.bee-maroon       { background-position: -227px  -671px;  }
.bee-marshy       { background-position: -301px  -671px;  }
.bee-meadows      { background-position: -375px  -671px;  }
.bee-merry        { background-position: -449px  -671px;  }
.bee-miry         { background-position: -523px  -671px;  }
.bee-modest       { background-position: -597px  -671px;  }
.bee-monastic     { background-position: -671px  -671px;  }
.bee-mutable      { background-position: -745px  -671px;  }
.bee-mysterious   { background-position: -819px  -671px;  }
.bee-mystical     { background-position: -893px  -671px;  }
.bee-nameless     { background-position: -967px  -671px;  }
.bee-natural      { background-position: -1041px -671px;  }
.bee-nickel       { background-position: -1115px -671px;  }
.bee-noble        { background-position: -5px    -745px;  }
.bee-nuclear      { background-position: -79px   -745px;  }
.bee-oblivion     { background-position: -153px  -745px;  }
.bee-ocean        { background-position: -227px  -745px;  }
.bee-oily         { background-position: -301px  -745px;  }
.bee-orange       { background-position: -375px  -745px;  }
.bee-ordered      { background-position: -449px  -745px;  }
.bee-phantasmal   { background-position: -523px  -745px;  }
.bee-pink         { background-position: -597px  -745px;  }
.bee-platinum     { background-position: -671px  -745px;  }
.bee-plumbum      { background-position: -745px  -745px;  }
.bee-porcine      { background-position: -819px  -745px;  }
.bee-poultry      { background-position: -893px  -745px;  }
.bee-prehistoric  { background-position: -967px  -745px;  }
.bee-primeval     { background-position: -1041px -745px;  }
.bee-prussian     { background-position: -1115px -745px;  }
.bee-pupil        { background-position: -5px    -819px;  }
.bee-pure         { background-position: -79px   -819px;  }
.bee-purple       { background-position: -153px  -819px;  }
.bee-pyro         { background-position: -227px  -819px;  }
.bee-quantum      { background-position: -301px  -819px;  }
.bee-radioactive  { background-position: -375px  -819px;  }
.bee-red          { background-position: -449px  -819px;  }
.bee-refined      { background-position: -523px  -819px;  }
.bee-relic        { background-position: -597px  -819px;  }
.bee-resilient    { background-position: -671px  -819px;  }
.bee-resinous     { background-position: -745px  -819px;  }
.bee-ripening     { background-position: -819px  -819px;  }
.bee-river        { background-position: -893px  -819px;  }
.bee-robust       { background-position: -967px  -819px;  }
.bee-rocky        { background-position: -1041px -819px;  }
.bee-rooted       { background-position: -1115px -819px;  }
.bee-ruby         { background-position: -5px    -893px;  }
.bee-rural        { background-position: -79px   -893px;  }
.bee-rusty        { background-position: -153px  -893px;  }
.bee-saffron      { background-position: -227px  -893px;  }
.bee-sapphire     { background-position: -301px  -893px;  }
.bee-savant       { background-position: -375px  -893px;  }
.bee-scholarly    { background-position: -449px  -893px;  }
.bee-secluded     { background-position: -523px  -893px;  }
.bee-sepia        { background-position: -597px  -893px;  }
.bee-shadowed     { background-position: -671px  -893px;  }
.bee-shining      { background-position: -745px  -893px;  }
.bee-sinister     { background-position: -819px  -893px;  }
.bee-skeletal     { background-position: -893px  -893px;  }
.bee-skulking     { background-position: -967px  -893px;  }
.bee-slate        { background-position: -1041px -893px;  }
.bee-smouldering  { background-position: -1115px -893px;  }
.bee-solum        { background-position: -5px    -967px;  }
.bee-somnolent    { background-position: -79px   -967px;  }
.bee-sorcerous    { background-position: -153px  -967px;  }
.bee-soul         { background-position: -227px  -967px;  }
.bee-spatial      { background-position: -301px  -967px;  }
.bee-spectral     { background-position: -375px  -967px;  }
.bee-spidery      { background-position: -449px  -967px;  }
.bee-spirit       { background-position: -523px  -967px;  }
.bee-spiteful     { background-position: -597px  -967px;  }
.bee-stained      { background-position: -671px  -967px;  }
.bee-stannum      { background-position: -745px  -967px;  }
.bee-steadfast    { background-position: -819px  -967px;  }
.bee-sticky       { background-position: -893px  -967px;  }
.bee-sugary       { background-position: -967px  -967px;  }
.bee-supernatural { background-position: -1041px -967px;  }
.bee-sweetened    { background-position: -1115px -967px;  }
.bee-tarnished    { background-position: -5px    -1041px; }
.bee-tarry        { background-position: -79px   -1041px; }
.bee-thriving     { background-position: -153px  -1041px; }
.bee-timely       { background-position: -227px  -1041px; }
.bee-tipsy        { background-position: -301px  -1041px; }
.bee-tolerant     { background-position: -375px  -1041px; }
.bee-transmuting  { background-position: -449px  -1041px; }
.bee-tricky       { background-position: -523px  -1041px; }
.bee-tropical     { background-position: -597px  -1041px; }
.bee-turquoise    { background-position: -671px  -1041px; }
.bee-unstable     { background-position: -745px  -1041px; }
.bee-unusual      { background-position: -819px  -1041px; }
.bee-unweary      { background-position: -893px  -1041px; }
.bee-valiant      { background-position: -967px  -1041px; }
.bee-valuable     { background-position: -1041px -1041px; }
.bee-vazbee       { background-position: -1115px -1041px; }
.bee-vengeful     { background-position: -5px    -1115px; }
.bee-vindictive   { background-position: -79px   -1115px; }
.bee-virulent     { background-position: -153px  -1115px; }
.bee-vis          { background-position: -227px  -1115px; }
.bee-viscous      { background-position: -301px  -1115px; }
.bee-volcanic     { background-position: -375px  -1115px; }
.bee-water        { background-position: -449px  -1115px; }
.bee-watery       { background-position: -523px  -1115px; }
.bee-white        { background-position: -597px  -1115px; }
.bee-windy        { background-position: -671px  -1115px; }
.bee-winsome      { background-position: -745px  -1115px; }
.bee-wintry       { background-position: -819px  -1115px; }
.bee-wispy        { background-position: -893px  -1115px; }
.bee-withering    { background-position: -967px  -1115px; }
.bee-yellorium    { background-position: -1041px -1115px; }
.bee-yellow       { background-position: -1115px -1115px; }